name: CI/CD Pipeline

on:
  push:
    branches:
      - master 

jobs:
  build-and-test:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout repo
        uses: actions/checkout@v3

      # Install and test backend
      - name: Setup Node.js
        uses: actions/setup-node@v3
        with:
          node-version: 22

      - name: Install backend dependencies
        working-directory: ./server
        run: npm install

      - name: Run backend tests
        working-directory: ./server
        run: npm test

      # Install and test frontend
      - name: Install frontend dependencies
        working-directory: ./client
        run: npm install

      - name: Run frontend tests
        working-directory: ./client
        run: npm test

  deploy:
    runs-on: ubuntu-latest
    needs: build-and-test
    if: success()
    steps:
      - name: Trigger Render Deploy (Frontend)
        run: |
          curl -X POST "https://api.render.com/v1/services/${{ secrets.RENDER_SERVICE_ID_FRONTEND }}/deploys" \
          -H "Authorization: Bearer ${{ secrets.RENDER_API_KEY }}" \
          -H "Accept: application/json"

      - name: Trigger Render Deploy (Backend)
        run: |
          curl -X POST "https://api.render.com/v1/services/${{ secrets.RENDER_SERVICE_ID_BACKEND }}/deploys" \
          -H "Authorization: Bearer ${{ secrets.RENDER_API_KEY }}" \
          -H "Accept: application/json"
